<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css' type='text/css'>
    <title>Search in InSearchOn Page</title>
</head>
<body>
    <header>
        <h1>InSearchOnFlávio</h1>
    </header>
    <div class="pesquisa">
        <form action="submit">
            <div class="submit-line">
                <input type="text" placeholder="Digite sua pesquisa"/>
                <div id="lupa" onclick="alert('ok :)');"></div>
            </div>
        </form>
    </div>
</body>
</html>